.mainpage-wrapper {
  display: flex;
  flex-direction: row;
}

.line-1 {
  padding: 15px 20px 15px 20px;
  border-radius: 70% 50% 70% 50%;
  width: 330px;
  height: 180px;
  box-shadow: inset -8px -5px 40px;

  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.float {
  animation: float 5s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-50px);
  }
  100% {
    transform: translatey(0px);
  }
}

.mainpage-wrapper-closed {
  display: none;
}
.line-2 {
  margin-top: 30px;
  box-shadow: inset 0px -5px 20px;
  margin-left: -10px;

  padding: 15px 20px 15px 20px;
  border-radius: 70% 50% 70% 50%;
  width: 70px;
  height: 40px;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.line-3 {
  margin-top: 30px;
  box-shadow: inset 0px -5px 20px;
  margin-left: -30px;
  padding: 15px 20px 15px 20px;
  border-radius: 70% 60% 70% 60%;
  width: 20px;
  height: 15px;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.main-page-text-wrapper {
  width: 60%;
  text-align: justify;
}
.lines-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 100px;
}
